<% include partials/header %>

<div class="ui center aligned raised very padded text segment main container">
    <h1>Point Per View</h1>
    <div class="ui list">
        <div class="item"><a class="ui big basic button blue" href="/corner"> View Topics</a></div>
    </div>
</div>


<% include partials/footer %>